<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript in HTML</title>
</head>
<body>
    <h2>Select Tags</h2>

<div id="tagContainer">
  <button class="tag_input" data-tag="Technology">Technology</button>
  <button class="tag_input" data-tag="Health">Health</button>
  <button class="tag_input" data-tag="Fitness">Fitness</button>
  <button class="tag_input" data-tag="Food">Food</button>
</div>

<form id="user_input">
  <input type="hidden" id="selectedTags" name="selectedTags">
  <button type="submit">Submit</button>
</form> 

    <script src="tags.js"></script>
</body>
</html>